#sidebarContainer {
	height: calc(100vh - 60px);

	#sidebar {
		width: 256px;
		position: sticky;

		a {
			text-align: left;
			line-height: 24px;

			&.active {
				background: linear-gradient(134.72deg, #166bea 0%, #6f3bdd 99.54%);
				color: #fdfdfd;
			}

			> i {
				display: inline-block;
				width: 48px;
				padding-right: 16px;
				margin: 0px auto 0px !important;
			}
		}
		#ackCont {
			position: absolute;
			bottom: 16px;	

			p{
				font-size: 0.9em;
				color: #999;
				font-style: italic;
			}

			#ack {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-evenly;
				row-gap: 12px;
				column-gap: 0px;
			}
		}

		#ackCont::before{
			background: none;
		}
	}

	#pusherContainer {
		width: calc(100% - 256px);
		min-height: calc(100% + 224px);
		// left: 256px;
		float: right;
		padding-top: 64px;
	}
}
