#authContainer {
	height: 100vh;

	#authContainerGrid {
		position: relative;
		top: 10%;
	}

	#authCard {
		width: 400px;
		padding: 20px;

		.cardHeader {
			text-align: left;
			margin-left: 16px;
			margin-bottom: 24px;

			img {
				display: block;
				width: 329px;
				height: 48px;
				margin: 32px auto 32px auto;
			}

			h1 {
				margin-bottom: 0px;
			}

			#blockDivider {
				height: 8px;
				width: 90px;
				margin-top: 8px;
				background: linear-gradient(134.72deg, #166bea 0%, #6f3bdd 99.54%);
			}
		}

		.mainActionBtn {
			margin-top: 24px;
			width: 280px;
		}

		.goBackBtn {
			margin-top: 8px;
			width: 280px;
		}
	}

	#acknow {
    height: 107px;
    width: 400px;
    margin: auto;
    position: relative;
    top: 23%;
		display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
		border: 1px solid #ccc;
		border-radius: 8px 8px 0px 0px;
		padding: 16px 24px;
		box-shadow: 0px 1px 3px 0px #D4D4D5, 0px 0px 0px 1px #D4D4D5;

		p{
			width: 100%;
			display: inline-block;
			font-style:italic;
			color: #888;
			margin-bottom:2px;
		}
	}
}

#forgotPasswordLink {
	display: inline-block;
	margin-top: 8px;
}
