#authContainer {
	height: 100vh;

	#authContainerGrid {
		position: relative;
		top: 15%;
	}

	#authCard {
		width: 400px;
		padding: 20px;

		.cardHeader {
			text-align: left;
			margin-left: 16px;
			margin-bottom: 24px;

			img {
				display: block;
				width: 329px;
				height: 48px;
				margin: 40px auto 40px auto;
			}

			h1 {
				margin-bottom: 0px;
			}

			#blockDivider {
				height: 8px;
				width: 90px;
				margin-top: 8px;
				background: linear-gradient(134.72deg, #166bea 0%, #6f3bdd 99.54%);
			}
		}

		.mainActionBtn {
			margin-top: 24px;
			width: 280px;
		}

		.goBackBtn {
			margin-top: 8px;
			width: 280px;
		}
	}
}

#forgotPasswordLink {
	display: inline-block;
	margin-top: 8px;
}
